.Services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.Services-title{
    position: relative;
}
.Services-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.Services-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.Services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: 0.4s;
    cursor: pointer;
}
.Services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}
.Services-format h3{
    font-size: 28px;
    font-weight: 600;
}
.Services-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Services-format p{
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}